<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="classes" name="LocusAssignment_API">
	<listeners>
		<listener class-name="Listeners.Listeners" />
	</listeners>
  <test thread-count="3" parallel="classes" name="Test">
    <classes>
      <class name="TestsRunner.BooksTestsRunner"/>
      <class name="TestsRunner.MovieAPITestRunner"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- LocusAssignment_API -->
